@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@500&display=swap");
body {
  margin: 0;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navlink {
  text-decoration: none;
}
.not {
  background-image: url("./assets/img/Notfound.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.back {
  background: linear-gradient(91deg, #1c8268, #b1ded2, #8d9e99, #117078);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  -o-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 47%;
  }
  50% {
    background-position: 100% 54%;
  }
  100% {
    background-position: 0% 47%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 47%;
  }
  50% {
    background-position: 100% 54%;
  }
  100% {
    background-position: 0% 47%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 47%;
  }
  50% {
    background-position: 100% 54%;
  }
  100% {
    background-position: 0% 47%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 47%;
  }
  50% {
    background-position: 100% 54%;
  }
  100% {
    background-position: 0% 47%;
  }
}
